.item-title {
	font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    color: #FEFEFE;
    margin: 0 0 20px;
}

.item-input-wrap{
	input[type="text"], input[type="password"] {
		width: 100%;
	    padding: 10px 15px 5px;
	    font-family: 'Montserrat Alternates', sans-serif;
	    font-size: 16px;
	    color: black;
	    border-bottom: white 1px solid;
	    text-align: center;
	}

	select {
		width: 100px;
		background-color: white;
		padding: 0 0 0 20px;
		margin: 0 auto;
		font-family: 'Montserrat Alternates', sans-serif;
	    font-size: 16px;
	    color: black;
	}

	.icon-grid {

		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;

		button {
			background-color: rgba(0, 0, 0, 0);
			border: none;
			width: 30%;
			margin-bottom: 20px;

			img {
				width: 100%;
				max-width: 65px;
				margin: 0 auto;
			}
		}

	}
}

button#checkInContinue {
	padding: 10px 0;
    background-color: white;
    border: none;
    border-radius: 8px;
	font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    color: #F8CCCE;
}