.scoop-container {
	.scoop {

		border-bottom: 2px white solid;

		a {
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    padding: 10px 10%;
		    position: relative;
		    mix-blend-mode: difference;

		    p {
	    	    margin: 0;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translateX(-50%) translateY(-50%);
		    }
		}

		&.Chocolate {
			background-color: #8B4B47;
		}

		&.Strawberry {
			background-color: #FF769C;
		}

		&.Vanilla {
			background-color: #FEFEFE;

			img {
				fill: #F8CCCE;
			}

			a, p {
				color: #F8CCCE;
			}
		}
	}
}

.scoops-category {
	padding: 75px 10%;
	display: flex;

	.individual-scoop {
		width: 30%;
		margin: 0 1.5% 20px;

		a {
			display: block;
			mix-blend-mode: difference;
			img {
				display: block;
				margin: 0 auto 10px;
			}

			p {
				font-size: 12px;
				text-align: center;
			}

		}

	}

}

.scoop-content {
	text-align: center;
	padding: 20px 10%;
	border-bottom: #FEFEFE 2px solid;

	p {
		margin-bottom: 20px;
	}

}

.scoop-settings {
	text-align: center;
	padding: 20px 10%;

	.item-input-wrap {
		margin-bottom: 20px;
	}

	.slider-options {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;

		h3 {
			width: 250px;
			font-size: 12px;
			color: #FEFEFE;
			text-align: center;

			&:nth-child(1) {
				text-align: left;
			}

			&:nth-child(3) {
				text-align: right;
			}
		}
	}
}

.scoop-continue {
	padding: 0 10%;
	text-align: right;
	text-decoration: underline;
    margin-bottom: 40px;

	a {
		color: #FEFEFE;
	}
}

.cone-slider {
	width: 300px;
	margin: 0 auto;
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	.slick-list {
		width: 300px;

		.slick-slide {
			width: 300px;

			img {
				margin: 0 auto;
				width: 100%;
				max-width: 150px;
			}
		}
	}
}